<form [formGroup]="equiposForm">
    <div class="contenido">

        <div class="titulo">
            <h2>Crear equipo</h2>
        </div>

        <div fxLayout="column" fxLayoutGap="20px">

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" formControlName="nombre" #nombre class="texto">
                <mat-error>
                    <span *ngIf="!equiposForm.get('nombre').valid && equiposForm.get('nombre').touched">Por
                        favor ingrese
                        un
                        nombre</span>
                </mat-error>
            </mat-form-field>

        </div>


        <div class="button-row2">
            <button (click)="nuevo(nombre.value)" [disabled]="!equiposForm.valid"
                mat-raised-button color="accent">
                <mat-icon>save</mat-icon>
            </button>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
            <a mat-raised-button color="warn" (click)="cancel()">
                <mat-icon>cancel</mat-icon>
            </a>
        </div>

    </div>