<div class="contenido">

    <div>

        <div>
            <h3 class="number2">BIENVENIDO</h3>
            <mat-divider></mat-divider>
        </div>

        <br>

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="26px" fxLayoutAlign="flex-start">

            <div class="info-box2 hover-expand-effect2" (click)="irAEquipos()">
                <div class="icon2 bg-light-blue2">
                    <i class="material-icons">tour</i>
                </div>
                <div class="content2" fxLayout="column" fxLayoutGap="10px">
                    <div class="text2">Administrar</div>
                    <div class="number2">Equipos</div>
                </div>
            </div>

            <div class="info-box2 hover-expand-effect2" (click)="irASancionados()">
                <div class="icon2 bg-light-blue2">
                    <i class="material-icons">account_circle</i>
                </div>
                <div class="content2" fxLayout="column" fxLayoutGap="10px">
                    <div class="text2">Lista de</div>
                    <div class="number2">Sancionados</div>
                </div>
            </div>

            <div class="info-box2 hover-expand-effect2" (click)="comprobarSancionados()">
                <div class="icon2 bg-light-blue2">
                    <i class="material-icons">verified_user</i>
                </div>
                <div class="content2" fxLayout="column" fxLayoutGap="10px">
                    <div class="text2">Comprobar</div>
                    <div class="number2">Sancionados</div>
                </div>
            </div>

        </div>

    </div>

</div>
