<div class="contenido">
    <br>

    <div class="titulo">
        <h2>Jugadores sancionados</h2>
    </div>

    <div class="filtro">
        <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)">
          </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">

        <table mat-table class="tabla" #table matSort [dataSource]="dataSource">

            <!-- Title Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef class="titulosfilas" mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element" class="title-col"> {{element.name}} {{element.surname}}  </td>
            </ng-container>

            <ng-container matColumnDef="fecha-sancion">
                <th mat-header-cell *matHeaderCellDef class="titulosfilas" mat-sort-header> Fecha de sanción </th>
                <td mat-cell *matCellDef="let element" class="title-col"> {{element.ban.date}} </td>
            </ng-container>

            <ng-container matColumnDef="partidosRestantes">
                <th mat-header-cell *matHeaderCellDef class="titulosfilas" mat-sort-header> Partidos restantes </th>
                <td mat-cell *matCellDef="let element" class="title-col"> {{element.ban.matches}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones" class="columnaboton">

                <th mat-header-cell *matHeaderCellDef class="titulosfilas-ce">Acciones</th>
                <td mat-cell *matCellDef="let element" class="title-col-ce">

                    <button mat-button color="accent" matTooltip="Informe" (click)="verJugadores(element)">
                        <mat-icon>
                            info
                        </mat-icon>
                    </button>

                </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons  [pageSize]="itemPorPagina"></mat-paginator>
    </div>

</div>
